{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/addtask.css" type="text/css">
{% endblock %}
{% block scripts%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $('.openmodale').click(function (e) {
            e.preventDefault();
            $('.modale').addClass('opened');
        });
        $('.closemodale').click(function (e) {
            e.preventDefault();
            $('.modale').removeClass('opened');
        });
        $("#Add_Task").click(function() {
            var event = {
                't_name': document.getElementsByName('t_name'),
                't_desc': document.getElementsByName('t_desc'),
                'status': document.getElementsByName('status')
            };
            $.ajax({
                url: "{{ url_for('add_task') }}",
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            }).done(function(){
                window.location.href="{{ url_for('dashboard') }}";
            });
        });
    })
</script>
{{super()}}
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modale" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Add New Task</h2>
            <a href="#" class="btn-close closemodale" aria-hidden="true">&times;</a>
        </div>
        <form>
            <div class="modal-body">                
                <input type="text" name="t_name" placeholder="Task Name" /><br>
                <input type="text" name="t_desc" placeholder="Task Description"/><br>
                <select name="status">
                    <option value="Todo">Todo</option>
                    <option value="doing">Doing</option>
                    <option value="done">Done</option>                    
                </select><br><br>
                <div class="modal-footer">
                    <input type="submit" id="Add_Task" value="Add Task" class="btn btn-primary btn-large btn-block">
                </div>
                
            </div>
        </form>
        
        
    </div>
</div>

<!-- /Modal -->
<H1>KANBAN BOARD</H1>
<p>Hello {{ session['username'] }} !!</p>
<a href="{{ url_for('showtask') }}">Show</a>&nbsp;
<a href="{{ url_for('logout') }}">Logout</a>&nbsp;
<a href="{{ url_for('dashboard') }}">Dashboard</a>
<br/>
<p><a href="#" class="btn btn-big openmodale">Add New Task</a></p> 

<table>
    {% for task in tasks %}
    <tr>
        <td>{{ task.t_id }}</td>
        <td>{{ task.u_id }}</td>
        <td>{{ task.task_name }}</td>
        <td>{{ task.task_desc }}</td>
        <td>{{ task.status }}</td>
    </tr>
    {% endfor %}
</table>

<div class="container">
    <h2 class="webfont-heading"> Welcome {{name}} ! </h2>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class='alert alert-danger'>
                <h3> Tasks to do </h3>
                <hr/>
                <p>
                    {% for todo in todo %}
                    <button type="button" class="card-todo">Title: {{ todo.task_name  }} <br/>
                        Description: {{todo.task_desc}}
                        <br><br><center>
                        <a href="{{ url_for('doing', t_id=todo.t_id)}}" class="btn btn-warning" role="button">
                        <span class="glyphicon glyphicon-pencil"> Doing </span></a>
                        <a href="{{ url_for('done', t_id=todo.t_id)}}" class="btn btn-success" role="button">
                        <span class="glyphicon glyphicon-check"> Done </span></a>
                        <a href="{{ url_for('delete', t_id=todo.t_id)}}" class="btn btn-danger" role="button">
                        <span class="glyphicon glyphicon-trash"> Delete </span></a>
                    </button></center>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class='alert alert-warning'>
                <h3> Tasks being done </h3>
                <hr/>
                <p>
                    {% for doing in doing %}
                        <button type="button" class="card-doing">Title: {{ doing.task_name  }} <br/>
                             Description: {{doing.task_desc}}
                            <br><br><center>
                            <a href="{{ url_for('done', t_id=doing.t_id)}}" class="btn btn-success" role="button">
                            <span class="glyphicon glyphicon-check"> Done</span></a>
                            <a href="{{ url_for('delete', t_id=doing.t_id)}}" class="btn btn-danger" role="button">
                            <span class="glyphicon glyphicon-trash"> Delete </span></a>
                        </button></center>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class='alert alert-success'>
                <h3> Tasks done </h3>
                <hr/>
                <p>
                    {% for done in done %}
                        <button type="button" class="card-done">Title: {{done.task_name}} <br/>
                            Description: {{done.task_desc}}
                            <br><br><center>
                            <a href="{{ url_for('delete', t_id=done.t_id)}}" class="btn btn-danger" role="button">
                            <span class="glyphicon glyphicon-trash"> Delete </span></a>
                        </button></center>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <br/><br/>
    <hr/>
    <h2 class="webfont-heading">Create New Tasks!</h2>
       <form class="form-signin" method="POST" action="/addtask">
            <button class="btn btn-lg btn-info btn-block" type="submit">Add Task</button>
</div>

{% endblock %}
                                        
                                        